USE [BANGAME]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNhaSanXuat] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaSanXuat] [nvarchar](20) NULL,
 CONSTRAINT [PK__NhaSanXu__838C17A1FB50798E] PRIMARY KEY CLUSTERED 
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[NhaSanXuat]([PK__NhaSanXu__838C17A1FB50798E]) WITH STATS_STREAM = 0x010000000100000000000000000000005750488800000000CC020000000000008C02000000000000380300003800000004000A0000000000000000005000500007000000164A44013AA80000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000007C0000000000000018010000000000002001000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F04000000040000100014000000803F000000000000803F09000000040000020000000F28AF00C7A700000000000000001440000000000000000004000000000000A09999C93F00000000000000000000000000000000000000000000044000000000000004400000000000000000A6970F00BBA700000000000000001040040000000000000003000000000000000000D03F000000000000F03F0000000000000000000000000000144000000000000010409A9999999999D93F0500000000000000, ROWCOUNT = 10, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat]) VALUES (1, N'Square Enix')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat]) VALUES (2, N'Ubisoft')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat]) VALUES (3, N'Konami')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
/****** Object:  Table [dbo].[LoginAdmin]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginAdmin](
	[TenDangNhap] [varchar](30) NOT NULL,
	[MatKhau] [varchar](30) NULL,
	[HoTen] [nvarchar](30) NULL,
 CONSTRAINT [PK__LoginAdm__3214EC0708EA5793] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[LoginAdmin]([PK__LoginAdm__3214EC0708EA5793]) WITH STATS_STREAM = 0x01000000010000000000000000000000EAC5DFE60000000040000000000000000000000000000000A7031041A70000001E0000000000000008D0003400000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
INSERT [dbo].[LoginAdmin] ([TenDangNhap], [MatKhau], [HoTen]) VALUES (N'huy', N'123', N'Huỳnh Anh Huy')
/****** Object:  Table [dbo].[LoaiGame]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGame](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](20) NULL,
 CONSTRAINT [PK__LoaiGame__730A5759C1474918] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[LoaiGame]([PK__LoaiGame__730A5759C1474918]) WITH STATS_STREAM = 0x010000000100000000000000000000007CB5C25F00000000EB02000000000000AB02000000000000380300003800000004000A0000000000000000000000000007000000134A44013AA80000090000000000000009000000000000000000803F398EE33D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000104100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000009B0000000000000037010000000000003F0100000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000400000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F000000000000803F0A00000004000002000000B328AF00C7A70000000000000000224000000000000000000500000000000020C771BC3F00000000000000000000000000000000000000000000124000000000000012400000000000000000B80B4701C5A700000000000000002040080000000000000004000000000000000000C03F000000000000F03F00000000000000000000000000000040000000000000F03FF2B2F16946CDCF3F0900000000000000, ROWCOUNT = 18, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[LoaiGame] ON
INSERT [dbo].[LoaiGame] ([MaLoai], [TenLoai]) VALUES (1, N'Game Hành Động')
INSERT [dbo].[LoaiGame] ([MaLoai], [TenLoai]) VALUES (2, N'Game Đua Xe')
INSERT [dbo].[LoaiGame] ([MaLoai], [TenLoai]) VALUES (3, N'Game Bắn Súng')
SET IDENTITY_INSERT [dbo].[LoaiGame] OFF
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](30) NOT NULL,
	[Email] [char](30) NULL,
	[SDT] [char](12) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[TenDangNhap] [varchar](15) NOT NULL,
	[MatKhau] [varchar](15) NOT NULL,
 CONSTRAINT [PK__KhachHan__88D2F0E556D7F871] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE STATISTICS [_WA_Sys_00000005_48CFD27E] ON [dbo].[KhachHang]([NgaySinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000392A8ABA000000006D020000000000002D020000000000003D0200003D00000008001703000000000000000020002017070000003528AF00C7A700000500000000000000050000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000018000000000000410000A04000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000006900000000000000B900000000000000C100000000000000180000000000000033000000000000004E000000000000001000180000004040000000000000803F000000006D890000040000100018000000803F000000000000803F00000000CB890000040000100018000000803F000000000000803F00000000A8A7000004000001000000EE3A1C00C1A700000000000000001440050000000000000002000000000000000000E03F000000000000F03F0000000000000000000000000000004000000000000000400BD7A3703D0AD73F0500000000000000
GO
UPDATE STATISTICS [dbo].[KhachHang]([PK__KhachHan__88D2F0E556D7F871]) WITH STATS_STREAM = 0x01000000010000000000000000000000978CABED00000000AD020000000000006D02000000000000380300003800000004000A0000000000000000000000000007000000064A44013AA80000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000005D00000000000000F900000000000000010100000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F08000000040000100014000000803F0000803F0000803F0A000000040000100014000000803F0000803F0000803F0C000000040000020000002728AF00C7A700000000000000001440000000000000000003000000000000A09999C93F0000000000000000000000000000000000000000000004400000000000000440000000000000000091311C00C1A700000000000000001440050000000000000004000000000000A09999C93F000000000000004000000000000000000000000000000040000000000000004071179C005D47E73F0500000000000000, ROWCOUNT = 10, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [Email], [SDT], [NgaySinh], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (8, N'Huỳnh Anh Huy', N'huyha.hutech1996@gmail.com    ', N'01679191882 ', CAST(0x0000896D00000000 AS DateTime), N'An Giang', N'huyag123', N'anhhuyz4')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [Email], [SDT], [NgaySinh], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (9, N'Huỳnh Anh Huy', N'huyha.hutech1996@gmail.com    ', N'01679191882 ', CAST(0x0000896D00000000 AS DateTime), N'AnGiang', N'anhhuyag123', N'anhhuyz4')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [Email], [SDT], [NgaySinh], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (10, N'Đức Vãi Mẹ', N'ducalwayslaugh96@gmail.com    ', N'01679191882 ', CAST(0x000089CB00000000 AS DateTime), N'Đồng Nai', N'ducvm123', N'123')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[HeMay]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HeMay](
	[Madong] [bigint] IDENTITY(1,1) NOT NULL,
	[Tendong] [varchar](20) NULL,
 CONSTRAINT [PK_HeMay] PRIMARY KEY CLUSTERED 
(
	[Madong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[HeMay]([PK_HeMay]) WITH STATS_STREAM = 0x01000000010000000000000000000000A1A16FDF00000000DC020000000000009C020000000000007F0300007F00000008001300000000000000000000000000070000000A4A44013AA80000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000018000000000000410000C04000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000008C000000000000002801000000000000300100000000000020000000000000003B0000000000000056000000000000007100000000000000100018000000803F000000000000803F0100000000000000040000100018000000803F0000803F0000803F0300000000000000040000100018000000803F0000803F0000803F0500000000000000040000100018000000803F000000000000803F0700000000000000040000020000004328AF00C7A700000000000000001840000000000000000004000000000000605555C53F000000000000000000000000000000000000000000000840000000000000084000000000000000002FA15C01C1A700000000000000001040040000000000000003000000000000000000D03F000000000000044000000000000000000000000000000840000000000000F03FA69B07667654E03F0600000000000000, ROWCOUNT = 12, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[HeMay] ON
INSERT [dbo].[HeMay] ([Madong], [Tendong]) VALUES (1, N'PC')
INSERT [dbo].[HeMay] ([Madong], [Tendong]) VALUES (2, N'PS2')
INSERT [dbo].[HeMay] ([Madong], [Tendong]) VALUES (3, N'3DS')
SET IDENTITY_INSERT [dbo].[HeMay] OFF
/****** Object:  Table [dbo].[GopY]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GopY](
	[MaGopy] [int] NOT NULL,
	[NoiDungGopY] [nvarchar](50) NULL,
	[MaKhachHang] [int] NOT NULL,
 CONSTRAINT [PK__GopY__7EC2B7116E7C4003] PRIMARY KEY CLUSTERED 
(
	[MaGopy] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[GopY]([PK__GopY__7EC2B7116E7C4003]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MaNhaSanXuat] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[HinhAnh] [varchar](10) NULL,
	[MoTa] [nvarchar](550) NULL,
	[TieuBieu] [bit] NULL,
	[KhuyenMai] [bit] NULL,
	[Video] [varchar](50) NULL,
	[GiaBan] [decimal](9, 3) NULL,
	[NgayCapNhat] [datetime] NULL,
	[CauHinh] [nvarchar](450) NULL,
	[Madong] [bigint] NULL,
	[HesoKM] [float] NULL,
	[GiaSale] [decimal](9, 3) NULL,
	[TT] [bit] NULL,
 CONSTRAINT [PK__SanPham__2725081C8DE3ECF8] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE STATISTICS [_WA_Sys_00000002_07020F21] ON [dbo].[SanPham]([TenSP]) WITH STATS_STREAM = 0x01000000010000000000000000000000332EB2CA000000001404000000000000D403000000000000E7030000E7000000640000000000000008D00034190000000700000076DF57013AA8000008000000000000000800000000000000000000002549123E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000700000007000000010000001000000000000042000000410000000000000042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B5010000000000006002000000000000680200000000000038000000000000007D00000000000000C200000000000000E500000000000000060100000000000031010000000000006C01000000000000300010000000803F000000000000803F0400000100450044007200610067006F006E002000420061006C006C002000580065006E006F007600650072007300650020003100300010000000803F000000000000803F0400000100450044007200610067006F006E002000420061006C006C002000580065006E006F007600650072007300650020003200300010000000803F000000000000803F04000001002300460069006100200031003700300010000000803F000000000000803F0400000100210047005400410020005600300010000000803F000000000000803F04000001002B004D00610020004300E00020005200D31E6E0067003000100000000040000000000000803F04000001003B0050006F006B00E9006D006F006E0020004F006D0065006700610020005200750062007900300010000000803F000000000000803F04000001004900500072006F002000450076006F006C007500740069006F006E00200053006F00630063006500720020003200300031003700FF01000000000000000500000004000000280000002800000000000000000000003400000044007200610067006F006E002000420061006C006C002000580065006E006F0076006500720073006500200031004600690061002000310037004700540041002000560050006F006B00E9006D006F006E0020004F006D00650067006100200052007500620079000500000040000000008117000000810617000081051D00000212220000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_6754599E] ON [dbo].[SanPham]([MaNhaSanXuat]) WITH STATS_STREAM = 0x010000000100000000000000000000006A2EC7EC00000000AD020000000000006D02000000000000380361003800000004000A0000000000000000002000580007000000154A44013AA80000070000000000000007000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000005D00000000000000F900000000000000010100000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F01000000040000100014000000803F0000803F0000803F030000000400001000140000000040000000000000803F0400000004000002000000C428AF00C7A700000000000000001C40000000000000000003000000000000000000D03F000000000000000000000000000000000000000000000C400000000000000C4000000000000000007AC54A01C5A700000000000000002240090000000000000003000000000000000000D03F00000000000000000000000000000000000000000000E0BF000000000000F83F3AD8DA7E6C3DD13F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_6754599E] ON [dbo].[SanPham]([MaLoai]) WITH STATS_STREAM = 0x01000000010000000000000000000000E550FA8000000000AD020000000000006D02000000000000380361003800000004000A0000000000000000002000580007000000134A44013AA80000070000000000000007000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000005D00000000000000F900000000000000010100000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F010000000400001000140000000040000000000000803F03000000040000100014000000803F0000803F0000803F0700000004000002000000CD28AF00C7A700000000000000001C40000000000000000003000000000000000000D03F000000000000000000000000000000000000000000000C400000000000000C4000000000000000007AC54A01C5A700000000000000002240090000000000000003000000000000A09999C93F00000000000000000000000000000000000000000000E0BF000000000000F83F9E66DD1BA3F1C13F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_07020F21] ON [dbo].[SanPham]([HinhAnh]) WITH STATS_STREAM = 0x0100000001000000000000000000000090F87443000000002503000000000000E502000000000000A7020000A70000000A0000000000000008D00034000000000700000075DF57013AA8000008000000000000000800000000000000000000000000003E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000070000000700000001000000100000000000CC40000000410000803F0000CC400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000000C01000000000000710100000000000079010000000000003800000000000000570000000000000076000000000000009500000000000000B300000000000000D100000000000000EF00000000000000300010000000803F000000000000803F04000001001F00646278312E6A7067300010000000803F000000000000803F04000001001F00646278322E6A7067300010000000803F000000000000803F04000001001F00666966612E6A7067300010000000803F000000000000803F04000001001E006774612E6A7067300010000000803F000000000000803F04000001001E007065732E6A7067300010000000803F000000000000803F04000001001E00706B6D2E6A7067300010000000803F000000000000803F04000001001D0075642E6A7067FF01000000010000000500000005000000280000002800000000000000000000001D000000646278322E6A7067666966612E6A70677065732E6A70676B6D2E6A706706000000400000000081080000008108080000400110000081061100000106170000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_07020F21] ON [dbo].[SanPham]([MoTa]) WITH STATS_STREAM = 0x01000000010000000000000000000000C6C3B0C7000000008D0B0000000000004D0B000000000000E7020100E70000004C0400000000000008D00034020000000700000074DF57013AA800000800000000000000080000000000000000000000CDCC4C3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000A08743000000410000804000A08743000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000F608000000000000D909000000000000E1090000000000002000000000000000F50300000000000024070000000000004507000000000000300010000000803F000000000000803F0400000100D503090050006F006B00E9006D006F006E0020004F006D006500670061002000520075006200790020007600E000200041006C0070006800610020005300610070007000680069007200650020002800DD30B130C330C830E230F330B930BF30FC302000AA30E130AC30EB30D330FC302600A230EB30D530A130B530D530A130A430A230200050006F006B006500740074006F0020004D006F006E00730075007400010120004F006D0065006700610020005200750062002B012000260020004100720075006600610020005300610066006100690061003F00290020006C00E000200068006100690020007400F11E6100200076006900640065006F002000670061006D00650020001101B001E31E6300200070006800E100740020006800E0006E00680020006200DF1E69002000470061006D006500200046007200650061006B0020007600E0002000630068006F0020006800C71E20006D00E100790020006300A71E6D00200074006100790020004E0069006E00740065006E0064006F0020003300440053002E0020001001E200790020006C00E000200068006100690020006200A31E6E00200022006C00E0006D0020006C00A11E6900220020006300E71E6100200068006100690020007400F11E61002000670061006D00650020006E0003016D0020003200300030003200200050006F006B0065006D006F006E0020005200750062007900200026002000530061007000700068006900720065005B0031005D002E002000470061006D00650020001101B001E31E630020006300F4006E00670020006200D11E20007600E0006F0020006E006700E000790020003700200074006800E1006E0067002000350020006E0003016D00200032003000310034002000740072006F006E00670020006D00D91E7400200054006500610073006500720020006300E71E610020004E0069006E00740065006E0064006F005B0032005D005B0033005D002E005600E000200063007500D11E690020006300F9006E00670020006200A11E6E0020007300BD1E200067006900FA00700020007400650061006D0020004D00610067006D00610020006200AF1E74002000470072006F00750064006F006E0028006E00BF1E750020006C00E00020004F006D006500670061002000720075006200790029002E004300F2006E002000DF1E200041006C0070006800610020005300610070007000680069007200650020006200A11E6E0020007300BD1E200067006900FA00700020007400650061006D002000410071007500610020006200AF1E740020004B0079006F00670072006500300010000000803F000000000000803F04000001002F0344007200610067006F006E002000420061006C006C002000580065006E006F00560065007200730065002000280076006900BF1E740020007400AF1E740020006C00E000200044007200610067006F006E002000420061006C006C00200058005600290020006C00E00020006D00D91E74002000200074007200F200200063006800A1016900200076006900640065006F002000630068006900BF1E6E0020001101A51E750020002D0020006E006800AD1E7000200076006100690020006400F11E6100200074007200EA006E0020007400720075007900C71E6E0020007400720061006E006800200044007200610067006F006E002000420061006C006C002C00200020001101B001E31E6300200070006800E10074002000740072006900C31E6E0020006200DF1E69002000440069006D007000730020007600E000200070006800E100740020006800E0006E00680020006200DF1E69002000420061006E0064006100690020004E0061006D0063006F002000470061006D00650073002E0020004E00F30020001101B001E31E6300200070006800E100740020006800E0006E00680020007600E0006F00200074006800E1006E0067002000320020006E0003016D00200032003000310035002000630068006F00200050006C0061007900530074006100740069006F006E00200033002C00200050006C0061007900530074006100740069006F006E00200034002C002000580062006F00780020003300360030002C002000580062006F00780020004F006E0065002C0020007600E00020004D006900630072006F0073006F00660074002000570069006E0064006F00770073002E0020004E00F30020006C00E000200074007200F200200063006800A1016900200044007200610067006F006E002000420061006C006C0020001101A71E7500200074006900EA006E002000200070006800E100740020006800E0006E0068002000630068006F00200020002000200076006900640065006F002000670061006D006500200063006F006E0073006F006C006500200074006800BF1E20006800C71E200074006800E91E20007400E1006D00300010000000803F000000000000803F0400000100210066006100640064007300300010000000803F000000000000803F0400000100B1014700720061006E00640020005400680065006600740020004100750074006F002000560020006C00E000200074007200F200200063006800A1016900200076006900640065006F0020001101B001E31E6300200070006800E10074002000740072006900C31E6E0020006200DF1E6900200052006F0063006B00730074006100720020004E006F007200740068002000740068007500D91E630020006800E3006E006700200052006F0063006B0073007400610072002000470061006D00650073002E0020004C00E0002000700068006900EA006E0020006200A31E6E00200074006800E91E20006D00B001DD1E690020006C0003016D002000740072006F006E00670020004400F2006E006700200074007200F200200063006800A101690020004700720061006E00640020005400680065006600740020004100750074006F0020007600E00020006C00E000200070006800A71E6E0020006B00BF1E200074006900BF1E700020006300E71E610020004700720061006E00640020005400680065006600740020004100750074006F002000490056002E00FF01000000030000000500000003000000280000002800000000000000000000005500000044007200610067006F006E002000420061006C006C002000580065006E006F00560065007200730065002000280076006900BF1E740020007400AF1E740020006C00E000200044007200610067006F00630068006F00200020002000200076006900640065006F002000670061006D006500200063006F006E0073006F006C006500200074006800BF1E20006800C71E200074006800E91E20007400E1006D006600610064006400730003000000400000000081500000000105500000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_6754599E] ON [dbo].[SanPham]([TieuBieu]) WITH STATS_STREAM = 0x01000000010000000000000000000000F8CC8B4C000000002002000000000000E00100000000000068020074680000000100010000000000000000001E69002007000000D228AF00C7A7000007000000000000000700000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000002549123F0000E040000040402549123F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000001C000000000000006C00000000000000740000000000000008000000000000001000110000008040000000000000803F0104000001000000F1DA4A01C5A700000000000000002240090000000000000001000000000000000000E03F00000000000000000000000000000000000000000000E0BF000000000000F83F20C7711CC7719C3F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_6754599E] ON [dbo].[SanPham]([KhuyenMai]) WITH STATS_STREAM = 0x01000000010000000000000000000000A8EC34CA000000003C02000000000000FC0100000000000068020000680000000100010000000000000000000000000007000000D228AF00C7A700000700000000000000070000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000002549123F0000E040000040402549123F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001900000000000000000000000000000038000000000000008800000000000000900000000000000010000000000000002400000000000000100011000000803F000000000000803F000400001000110000004040000000000000803F0104000001000000F1DA4A01C5A700000000000000002240090000000000000001000000000000000000E03F00000000000000000000000000000840000000000000E0BF000000000000F83FAB2FCA3772AADC3F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000009_07020F21] ON [dbo].[SanPham]([Video]) WITH STATS_STREAM = 0x010000000100000000000000000000007D8B2A6B000000003802000000000000F801000000000000A7020000A7000000320000000000000008D00034000000000700000070DF57013AA80000080000000000000008000000000000000000803F0000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001000000000003040000000410000A04000003040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000450000000000000084000000000000008C0000000000000010000000000000002300000000000000100010000000803F000000000000803F040000300010000000803F0000803F0000803F0400000100220054394F423773633762336BFF01000000030000000500000003000000280000002800000000000000000000000B0000003574467038326866724245020000004100000000010B000000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000A_6754599E] ON [dbo].[SanPham]([GiaBan]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5B6A77C00000000A40200000000000064020000000000006A0200006A0000000500090300000000000000000000000007000000CD28AF00C7A70000070000000000000007000000000000000000803FABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000150000000000A0400000E040000000000000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000A000000000000000F000000000000000F80000000000000028000000000000004000000000000000580000000000000070000000000000008800000000000000100015000000803F000000000000803F01F04902000400001000150000000040000000000000803F0190D00300040000100015000000803F000000000000803F01801A0600040000100015000000803F0000803F0000803F0120A10700040000100015000000803F000000000000803F01308C110004000001000000ECDA4A01C5A700000000000000002240090000000000000005000000000000A02449C23F00000000000000000000000000000000000000000000E0BF000000000000F83F8956C1B8A14FDD3F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000B_6754599E] ON [dbo].[SanPham]([NgayCapNhat]) WITH STATS_STREAM = 0x01000000010000000000000000000000DFCDC980000000006D020000000000002D020000000000003D0265003D000000080017030000000000000000F07F678007000000CD28AF00C7A700000700000000000000070000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000018000000000000410000E04000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000006900000000000000B900000000000000C100000000000000180000000000000033000000000000004E00000000000000100018000000803F000000000000803F00000000DEA500000400001000180000008040000000000000803F00000000BBA700000400001000180000000040000000000000803F00000000C5A7000004000001000000ECDA4A01C5A700000000000000002240090000000000000005000000000000A09999C93F00000000000000000000000000000000000000000000E0BF000000000000F83F8D85D53169CED63F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000C_07020F21] ON [dbo].[SanPham]([CauHinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000320652C900000000CA020000000000008A02000000000000E7020000E7000000840300000000000008D0003400000000070000006FDF57013AA80000080000000000000008000000000000000000803F0000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001000000000809442000000410000A04000809442000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000420000000000000016010000000000001E0100000000000010000000000000002300000000000000100010000000803F000000000000803F040000300010000000803F0000803F0000803F04000001001F007300660073006600FF0100000003000000050000000300000028000000280000000000000000000000500000004800C71E200011016900C11E750020006800E0006E0068003A002000570069006E0064006F0077007300200038002E00310020003600340020004200690074002C002000570069006E0064006F00770047005400200031004700420020002F00200041004D00440020004800440020003400380037003000200031004700420020005600520041004D000D000A004800440044003A00200036003500470042000200000041000000000150000000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000D_6754599E] ON [dbo].[SanPham]([Madong]) WITH STATS_STREAM = 0x01000000010000000000000000000000742972FB00000000960200000000000056020000000000007F0265007F000000080013000000000000000000F07F6780070000000A4A44013AA8000007000000000000000700000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000018000000000000410000E04000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000004600000000000000E200000000000000EA0000000000000010000000000000002B00000000000000100018000000C040000000000000803F0100000000000000040000100018000000803F000000000000803F030000000000000004000002000000C928AF00C7A700000000000000001C40000000000000000002000000000000000000E03F000000000000000000000000000000000000000000000C400000000000000C4000000000000000007AC54A01C5A700000000000000002240000000000000000002000000000000000000E03F00000000000000000000000000000000000000000000E0BF000000000000F83F134551144551C43F0700000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000F_07020F21] ON [dbo].[SanPham]([HesoKM]) WITH STATS_STREAM = 0x01000000010000000000000000000000E7BD74ED00000000A40100000000000064010000000000003E0200003E0000000800350000000000000000000000005207000000F8E356013CA8000008000000000000000800000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000180000000000000000000041000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000010_07020F21] ON [dbo].[SanPham]([GiaSale]) WITH STATS_STREAM = 0x0100000001000000000000000000000083A81F3200000000A40100000000000064010000000000006A0200006A0000000500090300000000000000000000005207000000EB9FBF003DA8000008000000000000000800000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000150000000000000000000041000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000011_07020F21] ON [dbo].[SanPham]([TT]) WITH STATS_STREAM = 0x01000000010000000000000000000000204B6B8100000000A401000000000000640100000000000068020000680000000100010000000000000000000000005207000000F056E1003DA8000008000000000000000800000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000110000000000000000000041000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000800000000000000
GO
UPDATE STATISTICS [dbo].[SanPham]([PK__SanPham__2725081C8DE3ECF8]) WITH STATS_STREAM = 0x01000000010000000000000000000000F56B0221000000000A03000000000000CA02000000000000380300003800000004000A0000000000000000000000000007000000034A44013AA80000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000014000000000080400000E0400000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000BA0000000000000056010000000000005E01000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F03000000040000100014000000803F000000000000803F06000000040000100014000000803F0000803F0000803F08000000040000100014000000803F000000000000803F0C000000040000100014000000803F000000000000803F0D000000040000100014000000803F000000000000803F1100000004000002000000B628AF00C7A700000000000000001C40000000000000000006000000000000A02449C23F000000000000000000000000000000000000000000000C400000000000000C40000000000000000062C54A01C5A70000000000000000224009000000000000000700000000000020C771BC3F00000000000000000000000000000000000000000000E0BF000000000000F83F1FC4B374F87EE53F0700000000000000, ROWCOUNT = 15, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNhaSanXuat], [MaLoai], [HinhAnh], [MoTa], [TieuBieu], [KhuyenMai], [Video], [GiaBan], [NgayCapNhat], [CauHinh], [Madong], [HesoKM], [GiaSale], [TT]) VALUES (6, N'Dragon Ball Xenoverse 2', 1, 1, N'dbx2.jpg', N'fadds', 1, 1, N'', CAST(250.000 AS Decimal(9, 3)), CAST(0x0000A83A00000000 AS DateTime), N'sfsfHệ điều hành: Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit SP1, Windows Vista 64 Bit SP2 (Khuyến khích nên sử dụng VGA Nvidia nếu chạy Vista)', 1, 0.2, CAST(200.000 AS Decimal(9, 3)), 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
/****** Object:  Table [dbo].[DatHang]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatHang](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayDatHang] [datetime] NULL,
	[DaGiao] [bit] NULL,
	[NgayGiaoHang] [datetime] NULL,
	[TenNguoiNhan] [nvarchar](30) NULL,
	[DiaChiNhan] [nvarchar](50) NULL,
	[DienThoaiNhan] [varchar](12) NULL,
	[HTThanhToan] [bit] NULL,
	[HTGiaoHang] [bit] NULL,
 CONSTRAINT [PK__DatHang__BC3D04DC15ABA071] PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE STATISTICS [_WA_Sys_00000002_59FA5E80] ON [dbo].[DatHang]([MaKhachHang]) WITH STATS_STREAM = 0x010000000100000000000000000000007A0DD237000000006F020000000000002F020000000000003803FFFF3800000004000A0000000000000000000000000007000000064A44013AA8000008000000000000000800000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000001F00000000000000BB00000000000000C30000000000000008000000000000001000140000000041000000000000803F0900000004000002000000B328AF00C7A700000000000000002040000000000000000001000000000000000000F03F00000000000000000000000000000000000000000000104000000000000010400000000000000000A1FE7C01C1A700000000000000000840030000000000000001000000000000000000F03F000000000000000000000000000000000000000000001440000000000000000000000000000000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_59FA5E80] ON [dbo].[DatHang]([NgayDatHang]) WITH STATS_STREAM = 0x010000000100000000000000000000007573F90700000000D60200000000000096020000000000003D0200003D0000000800170300000000000000000000000007000000B328AF00C7A70000080000000000000008000000000000000000803F0000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001800000000000041000000410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000D20000000000000022010000000000002A0100000000000030000000000000004B00000000000000660000000000000081000000000000009C00000000000000B700000000000000100018000000803F000000000000803F66447A01C1A70000040000100018000000803F000000000000803F0A977B01C1A70000040000100018000000803F000000400000803FAB7AF000C2A70000040000100018000000803F000000000000803F82940700C3A70000040000100018000000803F000000000000803FF9BF1900C3A70000040000100018000000803F000000000000803FAB9A5701C5A7000004000001000000A1FE7C01C1A700000000000000000840030000000000000003000000000000605555D53FE4412A35C3F717400000000000000000000000000000144000000000000000005809782F52D1EC3F0800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_59FA5E80] ON [dbo].[DatHang]([DaGiao]) WITH STATS_STREAM = 0x010000000100000000000000000000007A5BDF54000000003C02000000000000FC010000000000006802FFFF680000000100010000000000000000000000000007000000AA28AF00C7A7000008000000000000000800000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00000041000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001900000000000000000000000000000038000000000000008800000000000000900000000000000010000000000000002400000000000000100011000000C040000000000000803F000400001000110000000040000000000000803F0104000001000000A1FE7C01C1A700000000000000000840030000000000000001000000000000000000F03F0000000000000040000000000000000000000000000024400000000000001440CD3B7F669EA0D63F0800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_59FA5E80] ON [dbo].[DatHang]([NgayGiaoHang]) WITH STATS_STREAM = 0x01000000010000000000000000000000B42EC6E200000000D60200000000000096020000000000003D0200003D0000000800170300000000000000000000000007000000A028AF00C7A700000800000000000000080000000000000000000000ABAA2A3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001800000000000041000000410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000D20000000000000022010000000000002A0100000000000030000000000000004B00000000000000660000000000000081000000000000009C00000000000000B700000000000000100018000000803F000000000000803F00000000C3A70000040000100018000000803F000000000000803F00000000D3A700000400001000180000000040000000000000803F00000000DAA70000040000100018000000803F000000000000803F00000000DBA70000040000100018000000803F000000000000803F00000000DDA700000400001000180000000040000000000000803F00000000E1A70000040000010000009DFE7C01C1A700000000000000000840030000000000000002000000000000605555D53F0000000000000040000000000000084000000000000014400000000000000000A21F1A87C286E43F0800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_0AD2A005] ON [dbo].[DatHang]([DienThoaiNhan]) WITH STATS_STREAM = 0x0100000001000000000000000000000034160D62000000001F02000000000000DF01000000000000A7020000A70000000C0000000000000008D000347F00000007000000BE4944013AA8000008000000000000000800000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000004100000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002B000000000000006B00000000000000730000000000000008000000000000003000100000000041000000000000803F04000001002300303136373931393138383220FF01000000000000000500000001000000280000002800000000000000000000000C000000303136373931393138383220020000004000000000050C000000000800000000000000
GO
CREATE STATISTICS [_WA_Sys_00000009_59FA5E80] ON [dbo].[DatHang]([HTThanhToan]) WITH STATS_STREAM = 0x01000000010000000000000000000000633DA77D000000003C02000000000000FC01000000000000680200006800000001000100000000000000000000000000070000006428AF00C7A7000008000000000000000800000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00000041000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001900000000000000000000000000000038000000000000008800000000000000900000000000000010000000000000002400000000000000100011000000C040000000000000803F000400001000110000000040000000000000803F01040000010000008FFE7C01C1A700000000000000000840030000000000000001000000000000000000F03F0000000000000040000000000000000000000000000020400000000000000840CD3B7F669EA0D63F0800000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000A_59FA5E80] ON [dbo].[DatHang]([HTGiaoHang]) WITH STATS_STREAM = 0x01000000010000000000000000000000E2B82808000000003C02000000000000FC01000000000000680200006800000001000100000000000000000000000000070000005A28AF00C7A7000008000000000000000800000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00000041000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001900000000000000000000000000000038000000000000008800000000000000900000000000000010000000000000002400000000000000100011000000C040000000000000803F000400001000110000000040000000000000803F01040000010000008FFE7C01C1A700000000000000000840030000000000000001000000000000000000F03F000000000000004000000000000000000000000000001840000000000000F03FCD3B7F669EA0D63F0800000000000000
GO
UPDATE STATISTICS [dbo].[DatHang]([PK__DatHang__BC3D04DC15ABA071]) WITH STATS_STREAM = 0x01000000010000000000000000000000E4BE583900000000EB02000000000000AB02000000000000380300003800000004000A0000000000000000000100000007000000CE4944013AA80000080000000000000008000000000000000000803F0000003E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000004100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000009B0000000000000037010000000000003F0100000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F000000400000803F06000000040000100014000000803F0000803F0000803F08000000040000100014000000803F000000000000803F09000000040000020000005A28AF00C7A700000000000000002040000000000000000005000000000000000000C03F0000000000000000000000000000000000000000000010400000000000001040000000000000000080FE7C01C1A700000000000000000840030000000000000002000000000000605555D53F00000000000016400000000000000000000000000000144000000000000000004A2B6A6456F8E93F0800000000000000, ROWCOUNT = 16, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[DatHang] ON
INSERT [dbo].[DatHang] ([SoDH], [MaKhachHang], [NgayDatHang], [DaGiao], [NgayGiaoHang], [TenNguoiNhan], [DiaChiNhan], [DienThoaiNhan], [HTThanhToan], [HTGiaoHang]) VALUES (1, 9, CAST(0x0000A7C1017A4466 AS DateTime), 1, CAST(0x0000A7DD00000000 AS DateTime), N'Huỳnh Anh Huy', N'AnGiang', N'01679191882 ', 1, 1)
INSERT [dbo].[DatHang] ([SoDH], [MaKhachHang], [NgayDatHang], [DaGiao], [NgayGiaoHang], [TenNguoiNhan], [DiaChiNhan], [DienThoaiNhan], [HTThanhToan], [HTGiaoHang]) VALUES (2, 9, CAST(0x0000A7C1017B970A AS DateTime), 1, CAST(0x0000A7DA00000000 AS DateTime), N'Huỳnh Anh Huy', N'AnGiang', N'01679191882 ', 1, 1)
INSERT [dbo].[DatHang] ([SoDH], [MaKhachHang], [NgayDatHang], [DaGiao], [NgayGiaoHang], [TenNguoiNhan], [DiaChiNhan], [DienThoaiNhan], [HTThanhToan], [HTGiaoHang]) VALUES (4, 9, CAST(0x0000A7C2007ACA6A AS DateTime), 0, CAST(0x0000A7C300000000 AS DateTime), N'Huỳnh Anh Huy', N'AnGiang', N'01679191882 ', 0, 0)
SET IDENTITY_INSERT [dbo].[DatHang] OFF
/****** Object:  Table [dbo].[ChiTietDat]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDat](
	[SoDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](9, 2) NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK__ChiTietD__6E4F545D2C95D97B] PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_5629CD9C] ON [dbo].[ChiTietDat]([MaSP]) WITH STATS_STREAM = 0x010000000100000000000000000000008AC2154B00000000EB02000000000000AB02000000000000380300003800000004000A0000000000000000000000000007000000034A44013AA800000B000000000000000B00000000000000ABAAAA3EABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000304100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000009B0000000000000037010000000000003F0100000000000028000000000000003F0000000000000056000000000000006D0000000000000084000000000000001000140000000040000000000000803F060000000400001000140000004040000040400000404008000000040000100014000000803F000000000000803F0C000000040000100014000000803F000000000000803F0D000000040000100014000000803F000000000000803F11000000040000020000005528AF00C7A700000000000000002640000000000000000005000000000000605555C53F000000000000000000000000000000000000000000001640000000000000164000000000000000005FEE7C01C1A700000000000000001440050000000000000004000000000000000000D03F0000000000000040000000000000000000000000000018400000000000000000545ABE7DF6AED63F0B00000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_5629CD9C] ON [dbo].[ChiTietDat]([SoLuong]) WITH STATS_STREAM = 0x01000000010000000000000000000000F0913AD50000000061020000000000002102000000000000380267803800000004000A000000000000000000FFFFFFFF070000005528AF00C7A700000B000000000000000B0000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000304100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000005D00000000000000AD00000000000000B50000000000000018000000000000002F0000000000000046000000000000001000140000000041000000000000803F010000000400001000140000000040000000000000803F05000000040000100014000000803F000000000000803F06000000040000010000005AEE7C01C1A700000000000000001440050000000000000001000000000000000000F03F000000000000084000000000000000000000000000001840000000000000000086F350F5A188D63F0B00000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_5629CD9C] ON [dbo].[ChiTietDat]([DonGia]) WITH STATS_STREAM = 0x01000000010000000000000000000000C26EF06D00000000A40200000000000064020000000000006A0200006A00000005000902000000000000000000000000070000005528AF00C7A700000B000000000000000B0000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000150000000000A04000003041000000000000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000A000000000000000F000000000000000F80000000000000028000000000000004000000000000000580000000000000070000000000000008800000000000000100015000000803F000000000000803F01983A00000400001000150000000040000000000000803F01B88800000400001000150000004040000000000000803F01409C0000040000100015000000803F000000000000803F01C8AF00000400001000150000008040000000000000803F0150C30000040000010000005AEE7C01C1A700000000000000001440050000000000000003000000000000000000D03F000000000000000000000000000000400000000000001840000000000000000023C56608FDE7D63F0B00000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_5629CD9C] ON [dbo].[ChiTietDat]([ThanhTien]) WITH STATS_STREAM = 0x0100000001000000000000000000000044F2CFF500000000A4010000000000006401000000000000380200403800000004000A00000000000000000023C56608070000005528AF00C7A700000B000000000000000B00000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000140000000000000000003041000030410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000B00000000000000
GO
UPDATE STATISTICS [dbo].[ChiTietDat]([PK__ChiTietD__6E4F545D2C95D97B]) WITH STATS_STREAM = 0x0100000002000000000000000000000053CB81D4000000004103000000000000E902000000000000380300003800000004000A00000000000000000028DDBA0A380300003800000004000A0000000000000000000000000007000000CD4944013AA800000B000000000000000B00000000000000000000002549123E8C2EBA3D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000700000007000000020000001400000000000041000030410000000000008040000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000D90000000000000075010000000000007D0100000000000038000000000000004F0000000000000066000000000000007D000000000000009400000000000000AB00000000000000C200000000000000100014000000803F000000000000803F010000000400001000140000004040000000000000803F02000000040000100014000000803F000000000000803F04000000040000100014000000803F000000000000803F050000000400001000140000000040000000000000803F070000000400001000140000000040000000000000803F08000000040000100014000000803F000000000000803F09000000040000020000004C28AF00C7A700000000000000002640000000000000000007000000000000A02449C23F0000000000000000000000000000000000000000000016400000000000001640000000000000000055EE7C01C1A700000000000000001440050000000000000003000000000000605555D53F0000000000001C400000000000000000000000000000184000000000000000001D48032E70DEE83F0B00000000000000, ROWCOUNT = 22, PAGECOUNT = 2
GO
INSERT [dbo].[ChiTietDat] ([SoDH], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 8, 1, CAST(400.00 AS Decimal(9, 2)), NULL)
INSERT [dbo].[ChiTietDat] ([SoDH], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, 6, 1, CAST(350.00 AS Decimal(9, 2)), NULL)
INSERT [dbo].[ChiTietDat] ([SoDH], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, 7, 1, CAST(500.00 AS Decimal(9, 2)), NULL)
/****** Object:  Trigger [giasale]    Script Date: 12/09/2017 20:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[giasale] on [dbo].[SanPham] 
after insert,update as update SanPham 
set GiaSale=c.GiaBan-c.GiaBan*c.HesoKM 
from inserted i,SanPham c where c.MaSP=i.MaSP
GO
/****** Object:  Check [CK_DatHang_DT]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [CK_DatHang_DT] CHECK  (([DienThoaiNhan] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [DienThoaiNhan] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [DienThoaiNhan] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [DienThoaiNhan] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [CK_DatHang_DT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DatHang', @level2type=N'CONSTRAINT',@level2name=N'CK_DatHang_DT'
GO
/****** Object:  ForeignKey [FK_ChiTietDat_DatHang]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[ChiTietDat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDat_DatHang] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DatHang] ([SoDH])
GO
ALTER TABLE [dbo].[ChiTietDat] CHECK CONSTRAINT [FK_ChiTietDat_DatHang]
GO
/****** Object:  ForeignKey [FK_ChiTietDat_SanPham]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[ChiTietDat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDat_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDat] CHECK CONSTRAINT [FK_ChiTietDat_SanPham]
GO
/****** Object:  ForeignKey [FK_DatHang_KhachHang]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_KhachHang]
GO
/****** Object:  ForeignKey [FK_GopY_KhachHang]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[GopY]  WITH CHECK ADD  CONSTRAINT [FK_GopY_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[GopY] CHECK CONSTRAINT [FK_GopY_KhachHang]
GO
/****** Object:  ForeignKey [FK_SanPham_HeMay]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HeMay] FOREIGN KEY([Madong])
REFERENCES [dbo].[HeMay] ([Madong])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HeMay]
GO
/****** Object:  ForeignKey [FK_SanPham_LoaiGame]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiGame] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiGame] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiGame]
GO
/****** Object:  ForeignKey [FK_SanPham_NhaSanXuat]    Script Date: 12/09/2017 20:32:40 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaSanXuat] FOREIGN KEY([MaNhaSanXuat])
REFERENCES [dbo].[NhaSanXuat] ([MaNhaSanXuat])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaSanXuat]
GO
